@page "/"
@using Microsoft.AspNetCore.Blazor.Services
@inject IMenuService  menuService
@inject IOrderService  orderService
@inject State State
@inject IUriHelper UriHelper

<!-- Menu -->
<PizzaList Title="Our selected list of pizzas" Menu="@State.Menu" 
           Selected="@((pizza) => AddToBasket(pizza))"
           ShowPizzaInformation="@((pizza) => ShowPizzaInformation(pizza))"/>
<!-- End menu -->
<!-- Shopping Basket -->
<ShoppingBasket Title="Your current order" 
                Basket="@State.Basket" 
                GetPizzaFromId="@State.Menu.GetPizza" 
                Selected="@(pos => RemoveFromBasket(pos))" />
<!-- End shopping basket -->
<!-- Customer entry -->
<CustomerEntry Title="Please enter your details below" 
                bind-Customer="@State.Basket.Customer" 
                Submit="@(async (_) => await PlaceOrder())" />
<!-- End customer entry -->

<p>@State.ToJson()</p>

@functions {

    //private State State { get; } = new State();

    protected override async Task OnInitAsync()
    {
      State.Menu = await menuService.GetMenu();
    }

    private void AddToBasket(Pizza pizza)
    {
      Console.WriteLine($"Added pizza {pizza.Name}");
      State.Basket.Add(pizza.Id);
      StateHasChanged();
    }

    private void RemoveFromBasket(int pos)
    {
      Console.WriteLine($"Removing pizza at pos {pos}");
      State.Basket.RemoveAt(pos);
      StateHasChanged();
    }

    private async Task PlaceOrder()
    {
      await orderService.PlaceOrder(State.Basket);
    }

    private void ShowPizzaInformation(Pizza pizza)
    {
      State.CurrentPizza = pizza;
      UriHelper.NavigateTo("/PizzaInfo");
    }

}
