@page "/"
@implements IDisposable
@inject IMenuService  menuService
@inject IOrderService  orderService

<!-- Menu -->
<PizzaList Title="Our selected list of pizzas" Menu="@State.Menu" Selected="@((pizza) => AddToBasket(pizza))" />
<!-- End menu -->
<!-- Shopping Basket -->
<ShoppingBasket Title="Your current order" Basket="@State.Basket" GetPizzaFromId="@State.Menu.GetPizza" Selected="@(pos => RemoveFromBasket(pos))" />
<!-- End shopping basket -->
<!-- Customer entry -->
<CustomerEntry Title="Please enter your details below" bind-Customer="@State.Basket.Customer" Submit="@((_) => PlaceOrder())"/>
<!-- End customer entry -->

<p>@State.ToJson()</p>

@functions {

    public void Dispose()
    {
      // Cleanup resources here

    }

    private State State { get; } = new State();

    protected override async Task OnInitAsync()
    {
      State.Menu = await menuService.GetMenu();
    }

    private void AddToBasket(Pizza pizza)
    {
      Console.WriteLine($"Added pizza {pizza.Name}");
      State.Basket.Add(pizza.Id);
      StateHasChanged();
    }

    private void RemoveFromBasket(int pos)
    {
      Console.WriteLine($"Removing pizza at pos {pos}");
      State.Basket.RemoveAt(pos);
      StateHasChanged();
    }

    private async Task PlaceOrder()
    {
      await orderService.PlaceOrder(State.Basket);
    }

    protected override void OnInit()
    {

    }

    protected override void OnParametersSet()
    {

    }

    protected override async Task OnParametersSetAsync()
    {

    }

    protected override void OnAfterRender()
    {

    }

    protected override async Task OnAfterRenderAsync()
    {

    }


    //private void ShowBasket()
    //{
    //  foreach(var id in State.Basket.Orders)
    //  {
    //    Console.WriteLine(id);

    //  }
    //}
}
