@page "/"
@implements IDisposable

<!-- Menu -->
<PizzaList Title="Our selected list of pizzas" Menu="@State.Menu" Selected="@((pizza) => AddToBasket(pizza))" />
<!-- End menu -->
<!-- Shopping Basket -->
<ShoppingBasket Title="Your current order" Basket="@State.Basket" GetPizzaFromId="@State.Menu.GetPizza" Selected="@(pos => RemoveFromBasket(pos))" />
<!-- End shopping basket -->
<!-- Customer entry -->
<CustomerEntry Title="Please enter your details below" bind-Customer="@State.Basket.Customer" Submit="@((_) => PlaceOrder())"/>
<!-- End customer entry -->

<p>@State.ToJson()</p>

@functions {

    public void Dispose()
    {
      // Cleanup resources here

    }

    private State State { get; } = new State()
    {
      Menu = new Menu
      {
        Pizzas = new List<Pizza>
{
new Pizza(1, "Pepperoni", 8.99M, Spiciness.Spicy ),
new Pizza(2, "Margarita", 7.99M, Spiciness.None ),
new Pizza(3, "Diabolo", 9.99M, Spiciness.Hot )
}
      }
    };


    private void AddToBasket(Pizza pizza)
    {
      Console.WriteLine($"Added pizza {pizza.Name}");
      State.Basket.Add(pizza.Id);
      StateHasChanged();
    }

    private void RemoveFromBasket(int pos)
    {
      Console.WriteLine($"Removing pizza at pos {pos}");
      State.Basket.RemoveAt(pos);
      StateHasChanged();
    }

    private void PlaceOrder()
    {
      Console.WriteLine($"Placing order {State.Basket.Customer.ToJson()}");
    }

    protected override void OnInit()
    {

    }

    protected override async Task OnInitAsync()
    {

    }

    protected override void OnParametersSet()
    {

    }

    protected override async Task OnParametersSetAsync()
    {

    }

    protected override void OnAfterRender()
    {

    }

    protected override async Task OnAfterRenderAsync()
    {

    }


    //private void ShowBasket()
    //{
    //  foreach(var id in State.Basket.Orders)
    //  {
    //    Console.WriteLine(id);

    //  }
    //}
}
